<!DOCTYPE html>

<script src="http://code.jquery.com/jquery.js"></script>

<script>

function showPrompt(msg) {
  // CREATE A Promise TO RETURN
  var p = new Promise(function(resolve, reject) {

    var dialog = $('<div/>', {class: 'popup'})
      .append(
        $('<p/>').html(msg)
      )
      .append(
        $('<div/>', {class: 'text-right'})
          .append($('<button/>', {class: 'btn btn-cancel'}).html('Cancel').on('click', function() {
            $('.overlay').remove();
            // RESOLVE Promise TO false
            resolve(false);
          }))
          .append($('<button/>', {class: 'btn btn-primary'}).html('Ok').on('click', function() {
            $('.overlay').remove();
            // RESOLVE Promise TO true
            resolve(true);
          }))
      );

    var overlay = $('<div/>', {class: 'overlay'})
      .append(dialog);

    $('body').append(overlay);
    $(dialog).animate({top: '15%'}, 1000);
  });

  // RETURN THE Promise
  return p;
}

$(function() {
  // HANDLE open-dialog CLICK
  $('.open-dialog').on('click',function(e) {
    // PREVENT DEFAULT BEHAVIOUR FOR <a/>
    e.preventDefault();

    // SAVE PROMISE RETURN
    var res = showPrompt('Are you sure you want to log out?');
    res.then(function(ret) {
      if (ret) {
        // REDIRECT TO LOGIN PAGE
        window.location.href = 'http://127.0.0.1:8000/logout';
      } else {
        // DO NOTHING
      }
    })
  });
});

</script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">



.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.85);
  z-index: 10000;
}
.popup {
  width: 98%;
  padding: 15px;
  left: 0;
  margin-left: 1%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: -100%;
  box-shadow: 5px 5px 5px #000;
  z-index: 10001;
}
@media (min-width: 768px) {
  .popup {
    width: 66.66666666%;
    margin-left: 16.666666%;
  }
}
@media (min-width: 992px) {
  .popup {
    width: 50%;
    margin-left: 25%;
  }
}
@media (min-width: 1200px) {
  .popup {
    width: 33.33333%;
    margin-left: 33.33333%;
  }
}

</style>

<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="This is home">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/static/nicepage.css" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    {% block style %}{% endblock %}
    <script class="u-script" type="text/javascript" src="/static/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/static/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.5.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Admin"
    }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
    <body class="u-body u-xl-mode" data-lang="en">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <div class = "header-shadow">
        <header class="u-clearfix u-header u-palette-2-light-1 u-header" id="sec-b78c">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
          <div class="u-clearfix u-sheet u-sheet-1" style="font-family: 'Work Sans', sans-serif;">
            <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
              <div class="menu-collapse u-custom-font u-font-arial" style="font-size: 5rem; letter-spacing: 0px; font-weight: 700;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#">
                  <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a7e7"></use></svg>
                  <svg class="u-svg-content" version="1.1" id="svg-a7e7" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect></g></svg>
                </a>
              </div>
              <div class="u-custom-menu u-nav-container">
                <br>
                <br>
                <br>
                <ul class="u-custom-font u-font-arial u-nav u-spacing-40 u-unstyled u-nav-1">
                  <li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-grey-70 u-text-grey-70 u-text-hover-grey-70" href="http://127.0.0.1:8000/home" rel="nofollow" style="padding: 10px; font-family: 'Work Sans'"><b>Home</b></a></li>
                  <li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-grey-70 u-text-grey-70 u-text-hover-grey-70" href="http://127.0.0.1:8000/form" rel="nofollow" style="padding: 10px; font-family: 'Work Sans'"><b>Form</b></a></li>
                  <li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-grey-70 u-text-grey-70 u-text-hover-grey-70" href="http://127.0.0.1:8000/logs" rel="nofollow" style="padding: 10px; font-family: 'Work Sans'"><b>Logs</b></a></li>
                  <li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-grey-70 u-text-grey-70 u-text-hover-grey-70" href="http://127.0.0.1:8000/userprof" rel="nofollow" style="padding: 10px; font-family: 'Work Sans'"><b>Profile</b></a></li>
                </ul>
              </div>
              
            </nav>
            <span class="u-file-icon u-icon u-text-grey-70 u-icon-1">
              <a href=http://127.0.0.1:8000/logout>
                <img id="btnLogout" src="/static/1228-cef4a17e.png" alt="" class="open-dialog">
              </a>
            </span>
            <img id="logo" src="/static/images/Glamour2.png" style="display: block; width: 30%;" alt="">
          </div>
        </header>
    </div>
      {% block home %}{% endblock %}
      {% block form %}{% endblock %}
      {% block logs %}{% endblock %}
      {% block result %}{% endblock %}
      {% block userdet %}{% endblock %}
      {% block userupd %}{% endblock %}
    
      <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-905b">
        
      </footer>
    </body>
</html>