<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{rlt}}</title>
	<script src="/static/jquery.min.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="/static/style.css" rel="stylesheet" >
</head>
<body>

  <a  href="javascript:void(0)" class="btn-download">Download PDF  </a>

{% for r in record %}
<div id="invoice" class="container-another">
    <header >
      {% if 'not' in r[2] %}
      <h1 id="will_not">{{r[2]}}</h1>
      {% else %}
      <h1 id="will_have">{{r[2]}}</h1>
      {% endif %}
    </header>
    <article>

      <table class="inventory">
        <thead>
        <tr>
        <th><span>DATE AND TIME:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="time">{{r[22]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>AGE:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="age">{{r[3]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>YEAR LEVEL:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="year">{{r[4]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>FATHER EDUCATION:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="father_edu">{{r[5]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>MOTHER EDUCATION:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr></tr>
        <td><span class="mother_edu">{{r[6]}}</span></td>
        </tbody>

        <thead>
        <tr>
        <th><span>FAMILY INCOME:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="family_inc">{{r[7]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>FAMILY RELATION:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="family_rel">{{r[8]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>SCHOOL TIME TRAVEL:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="school_time">{{r[9]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>STUDY TIME:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="study_time">{{r[10]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>FREE TIME:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="free_time">{{r[11]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>GOING OUT WITH FRIENDS:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="going_out">{{r[12]}}</span></td>
        </tr>
        </tbody>

        <thead>
          <tr>
          <th><span>HEALTH STATUS:</span></th>
          </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="al">{{r[13]}}</span></td>
        </tr>
        </tbody>

        <thead>
          <tr>
          <th><span>ALCOHOL CONSUMPTION:</span></th>
          </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="scholar">{{r[14]}}</span></td>
        </tr>
        </tbody>

        <thead>
          <tr>
          <th><span>TYPE OF SCHOLARSHIP:</span></th>
          </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="health">{{r[15]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>GENDER TYPE:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="gender">{{r[16]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>PROGRAM:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="program">{{r[17]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>Parent's Cohabitation Status:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="parent">{{r[18]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>Home Internet Access:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="internet">{{r[19]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>Extra Curricular Activities:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="extra">{{r[20]}}</span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
        <th><span>Engagement to Romatic Relationship:</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td><span class="relationship">{{r[21]}}</span></td>
        </tr>
        </tbody>
    </table>
</div>
{% endfor %}

<script src="/static/jspdf.debug.js"></script>
<script src="/static/html2canvas.min.js"></script>
<script src="/static/html2pdf.min.js"></script>

<script>

    const options = {
      margin: 0.5,
      filename: 'scholarship-result.pdf',
      image: { 
        type: 'jpeg', 
        quality: 500
      },
      html2canvas: { 
        scale: 1 
      },
      jsPDF: { 
        unit: 'in', 
        format: [8.5, 15], 
        orientation: 'portrait' 
      }
    }
    
    $('.btn-download').click(function(e){
      e.preventDefault();
      const element = document.getElementById('invoice');
      html2pdf().from(element).set(options).save();
    });


    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
    </script>

</body>
</html>