{% extends "base.html" %}

{% block style %}<link rel="stylesheet" href="/static/Logs.css" media="screen">{% endblock %}
{% block logs %}
<section class="u-align-center u-clearfix u-grey-60 u-section-1" id="carousel_b5d7">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-text u-text-1">History Table</h1>
    <div class="u-expanded-width u-table u-table-responsive u-table-1">
      <table class="u-table-entity">
        <colgroup>
          <col width="29.5%">
          <col width="23%">
          <col width="25%">
          <col width="22.5%">
        </colgroup>
        <thead class="u-align-center u-table-header u-white u-table-header-1">
          <tr style="height: 59px;">
            <th class="u-align-left u-table-cell u-table-cell-1">Date</th>
            <th class="u-palette-3-base u-table-cell u-table-cell-2"><b>tabs</b>
            </th>
            <th class="u-palette-3-base u-table-cell u-table-cell-3"><b>activity</b>
            </th>
            <th class="u-palette-3-base u-table-cell u-table-cell-4"><b>scholarship</b>
            </th>
          </tr>
        </thead>
        <tbody class="u-align-center u-palette-5-dark-3 u-table-body u-table-body-1">
          <tr style="height: 49px;">
            <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-first-column u-table-cell">12/01/23</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">Home</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">Browsing</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">DL</td>
          </tr>
          <tr style="height: 48px;">
            <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-table-cell">12/01/23</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-10">Home</td>
            <td class="u-border-2 u-border-no-left u-border-no-right u-border-palette-5-dark-2 u-table-cell u-table-cell-11">Browsing</td>
            <td class="u-border-2 u-border-palette-5-dark-2 u-table-cell u-table-cell-12">VPAA</td>
          </tr>
          <tr style="height: 48px;">
            <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-first-column u-table-cell"> 12/01/23</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">History</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">Browsing</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">VPAA</td>
          </tr>
          <tr style="height: 65px;">
            <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-first-column u-table-cell"> 12/01/23</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-18">Home</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-19"> Browsing</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-20">DL</td>
          </tr>
          <tr style="height: 65px;">
            <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-table-cell"> 12/01/23</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-22">Fill up Form</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-23"> Browsing</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-24">VPAA</td>
          </tr>
          <tr style="height: 73px;">
            <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-first-column u-table-cell"> 12/01/23</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">Home</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">Browsing</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">P<br>
            </td>
          </tr>
          <tr style="height: 73px;">
            <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-table-cell">12/01/23</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">Fill up Form</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">Browsing</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">DL<br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}