{% extends "base.html" %}

{% block style %}<link rel="stylesheet" href="/static/Logs.css" media="screen">{% endblock %}

{% block logs %}
<div class="SectionColor">
</div>
<section class="u-align-center u-clearfix u-white-60 u-section-1" id="carousel_b5d7">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-text u-text-1">Prediction Records</h1>
    <div class="u-expanded-width u-table u-table-responsive u-table-1">
      <table class="u-table-entity">
        <colgroup>
          <col width="29.5%">
          <col width="23%">
          <col width="25%">
          <col width="22.5%">
        </colgroup>
        <thead class="u-align-center u-table-header u-white u-table-header-1">
          <tr style="height: 59px;">
            <th class="u-white-60 u-align-left u-table-cell u-table-cell-1">Id</th>
            <th class="u-palette-3-base u-table-cell u-table-cell-2"><b>Date & Time</b>
            </th>
            <th class="u-palette-3-base u-table-cell u-table-cell-3"><b>PDF</b>
            </th>
            <th class="u-palette-3-base u-table-cell u-table-cell-4"><b>Prediction Result</b>
            </th>
          </tr>
        </thead>
        <tbody class="u-align-center u-palette-5-dark-3 u-table-body u-table-body-1">
          {% for i in range(len-1, -1, -1) %}
          <tr style="height: 50px;">
            <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-first-column u-table-cell">{{i+1}}</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">{{records[i][22]}}</td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell"><a  href="http://127.0.0.1:8000/downloadpdf/{{records[i][0]}}" class="btn-download">Click to Download</a></td>
            <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">{{records[i][2]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}